In [1]:
from dash import Dash, html, dcc
import plotly.express as px
import pandas as pd
import firebase_admin
from firebase_admin import credentials, firestore

In [2]:

df=pd.read_csv("orginal_sales_data_edit.csv",encoding="utf-8",header=0,delimiter=',')

In [3]:
df.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE,PAYMENTFULLNAME
0,10107,30,95.70,2,2871.00,2/24/2003,Shipped,1,2,2003,...,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small,Yu Kwai
1,10121,34,81.35,5,2765.90,5/7/2003,Shipped,2,5,2003,...,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small,Henriot Paul
2,10134,41,94.74,2,3884.34,7/1/2003,Shipped,3,7,2003,...,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium,DaCunha Daniel
3,10145,45,83.26,6,3746.70,8/25/2003,Shipped,3,8,2003,...,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium,Young Julie
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium,Brown Julie

In [4]:
cred=credentials.Certificate("./iuh-19500031-firebase-adminsdk-dihvv-44c3a67206.json")
app=firebase_admin.initialize_app(cred)

In [6]:
dbFireStore=firestore.client()
for item in df.to_dict(orient='records'):
    doc_ref = dbFireStore.collection("tbl-19500031").document()
    doc_ref.set(item)

KeyboardInterrupt:

In [7]:
queryResults = list(dbFireStore.collection(u'tbl-19500031').stream())
listQueryResult = list(map(lambda x : x.to_dict(), queryResults))
df = pd.DataFrame(listQueryResult)
df

,TERRITORY,SUBCATEGORY,ORDERLINENUMBER,CITY,STATUS,ADDRESSLINE1,ADDRESSLINE2,YEAR_ID,CONTACTLASTNAME,COUNTRY,...,ORDERNUMBER,PHONE,DEALSIZE,PAYMENTFULLNAME,MONTH_ID,STATE,MSRP,CATEGORY,PRODUCTCODE,POSTALCODE
0,APAC,Ruler,11,Melbourne,Shipped,636 St Kilda Road,Level 3,2004,Ferguson,Australia,...,10223,03 9520 4555,Medium,Ferguson Peter,2,Victoria,109,Office Supplies,S24_1785,3004
1,EMEA,Lamp,5,Madrid,Shipped,"C/ Araquil, 67",NaN,2004,Sommer,Spain,...,10348,(91) 555 22 82,Medium,Sommer Mart¡n,11,NaN,64,Office Supplies,S32_3522,28023
2,NaN,Pen,3,San Rafael,Shipped,5677 Strong St.,NaN,2005,Nelson,USA,...,10382,4155551450,Small,Nelson Valarie,2,CA,127,Office Supplies,S24_2300,97562
3,EMEA,Bookshelf,1,Kobenhavn,Shipped,Vinb'ltet 34,NaN,2004,Petersen,Denmark,...,10238,31 12 3555,Medium,Petersen Jytte,4,NaN,117,Furniture,S12_3380,1734
4,EMEA,Pencil,3,Madrid,Shipped,"C/ Moralzarzal, 86",NaN,2003,Freyre,Spain,...,10203,(91) 555 94 44,Medium,Freyre Diego,12,NaN,140,Office Supplies,S24_3856,28034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3296,NaN,Lamp,4,New Bedford,Shipped,1785 First Street,NaN,2004,Benitez,USA,...,10321,5085552555,Small,Benitez Violeta,11,MA,107,Office Supplies,S24_3432,50553
3297,NaN,Eraser,9,Brisbane,Shipped,2793 Furth Circle,NaN,2003,Taylor,USA,...,10149,4155554312,Small,Taylor Sue,9,CA,41,Office Supplies,S24_3969,94217
3298,NaN,Ruler,2,New Bedford,Shipped,1785 First Street,NaN,2004,Benitez,USA,...,10321,5085552555,Medium,Benitez Violeta,11,MA,85,Office Supplies,S24_3191,50553
3299,NaN,Lamp,5,San Rafael,Shipped,5677 Strong St.,NaN,2003,Nelson,USA,...,10182,4155551450,Small,Nelson Valarie,11,CA,44,Office Supplies,S24_2022,97562
3300,EMEA,Cabinet,6,Madrid,Shipped,"C/ Araquil, 67",NaN,2004,Sommer,Spain,...,10348,(91) 555 22 82,Large,Sommer Mart¡n,11,NaN,50,Furniture,S18_4668,28023

In [8]:
queryResults2 = list(dbFireStore.collection(u'tbl-19500031').where(u'COUNTRY', u'==', 'USA').stream())
listQueryResult2 = list(map(lambda x : x.to_dict(), queryResults2))
df2 = pd.DataFrame(listQueryResult2)
df2

,TERRITORY,ORDERLINENUMBER,SUBCATEGORY,CITY,STATUS,ADDRESSLINE1,ADDRESSLINE2,YEAR_ID,CONTACTLASTNAME,COUNTRY,...,ORDERNUMBER,PHONE,DEALSIZE,PAYMENTFULLNAME,MONTH_ID,STATE,MSRP,CATEGORY,PRODUCTCODE,POSTALCODE
0,NaN,3,Pen,San Rafael,Shipped,5677 Strong St.,NaN,2005,Nelson,USA,...,10382,4155551450,Small,Nelson Valarie,2,CA,127,Office Supplies,S24_2300,97562
1,NaN,2,Cabinet,San Rafael,Shipped,5677 Strong St.,NaN,2003,Nelson,USA,...,10182,4155551450,Small,Nelson Valarie,11,CA,53,Furniture,S18_1367,97562
2,NaN,3,Pencil,White Plains,Shipped,3758 North Pendale Street,NaN,2003,Frick,USA,...,10195,9145554562,Small,Frick Steve,11,NY,57,Office Supplies,S24_1444,24067
3,NaN,8,Cabinet,NYC,Shipped,897 Long Airport Avenue,NaN,2004,Yu,USA,...,10292,2125557818,Small,Yu Kwai,9,NY,118,Furniture,S12_4473,10022
4,NaN,2,Smart phone,New Bedford,Shipped,1785 First Street,NaN,2005,Benitez,USA,...,10388,5085552555,Large,Benitez Violeta,3,MA,91,Technology,S700_1691,50553
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,NaN,5,Table,Cambridge,Shipped,39323 Spinnaker Dr.,NaN,2004,Hernandez,USA,...,10285,6175558555,Medium,Hernandez Marta,8,MA,150,Furniture,S12_2823,51247
1204,NaN,4,Lamp,New Bedford,Shipped,1785 First Street,NaN,2004,Benitez,USA,...,10321,5085552555,Small,Benitez Violeta,11,MA,107,Office Supplies,S24_3432,50553
1205,NaN,9,Eraser,Brisbane,Shipped,2793 Furth Circle,NaN,2003,Taylor,USA,...,10149,4155554312,Small,Taylor Sue,9,CA,41,Office Supplies,S24_3969,94217
1206,NaN,2,Ruler,New Bedford,Shipped,1785 First Street,NaN,2004,Benitez,USA,...,10321,5085552555,Medium,Benitez Violeta,11,MA,85,Office Supplies,S24_3191,50553
1207,NaN,5,Lamp,San Rafael,Shipped,5677 Strong St.,NaN,2003,Nelson,USA,...,10182,4155551450,Small,Nelson Valarie,11,CA,44,Office Supplies,S24_2022,97562

In [9]:
df = pd.DataFrame(listQueryResult)

In [10]:
df["YEAR_ID"] = df["YEAR_ID"].astype("str")
df["QTR_ID"] = df["QTR_ID"].astype("str")

In [11]:
app = Dash(__name__)

app.title = "DATA DASHBOARD"

In [12]:
figSoLuongSanPham = px.histogram(df, x="YEAR_ID", y="QUANTITYORDERED", 
barmode="group", color="QTR_ID", title='Tổng số lượng sản phẩm theo quý và năm', histfunc = "sum",
labels={'YEAR_ID':'Từ năm 2003, 2004 và 2005', 'QTR_ID': 'Quý trong năm', 'Sum':'Tổng số lượng sản phẩm'})

figDoanhSo = px.pie(df, values='SALES', names='YEAR_ID',
labels={'YEAR_ID':'Năm','SumSaleQTRYEAR':'Doanh số'},
title='Tổng doanh số theo năm')

figSoLuongHoaDon = px.sunburst(df, path=['YEAR_ID', 'QTR_ID'], values='QUANTITYORDERED',
color='QUANTITYORDERED',
labels={'parent':'Năm', 'labels':'Quý','QUANTITYORDERED':'Số lượng sản phẩm'},
title='Tỉ lệ số lượng sản phẩm theo quý và năm')

In [14]:
app.layout = html.Div(
    children=[
        html.Div(
            children=[
                html.H1(
                    children="DATA SALES DASHBOARD", className="header-title"
                ),
                html.P(
                    
                    className="header-description"
                ),
                html.H1(children="IUH-19500031-Uông Tiến Đức", className="header-title")
            ],
            className="header",
        ),
        html.Div(
            children=[
                html.Div(
                    children=dcc.Graph(
                    id='soluong-graph',
                    figure=figSoLuongSanPham),
                    className="mycard"
                ),
                html.Div(
                    children=dcc.Graph(
                    id='doanhso-graph',
                    figure=figDoanhSo),
                    className="mycard"
                ),
                html.Div(
                    children=dcc.Graph(
                    id='soluongdonhang-graph',
                    figure=figSoLuongHoaDon),
                    className="mycard"
                )
            ], className="mywrapper")
    ])

In [15]:
if __name__ == '__main__':
    app.run_server(debug=False, port=8090)

Dash is running on http://127.0.0.1:8090/

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8090
Press CTRL+C to quit
127.0.0.1 - - [23/Oct/2022 20:49:44] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:49:44] "GET /assets/style.css?m=1666276130.0 HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:49:45] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:49:45] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:49:45] "GET /_favicon.ico?v=2.6.2 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:49:45] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:49:45] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET /assets/style.css?m=1666276130.0 HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET /_favicon.ico?v=2.6.2 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:52:06] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET /assets/style.css?m=1666276130.0 HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET /_favicon.ico?v=2.6.2 HTTP/1.1" 200 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [23/Oct/2022 20:52:20] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -